.page
{
    height: 842px;
}

.left
{
    float: left;
    width: 25%;
}
.right
{
    float: right;
    width: 74%;
    border-left: 1px solid #000;
    padding-left: 10px;
}
.Contact
{
    height: 66%
}

.Education
{
    height: 34%;
}

.Hi
{
    height: 20%;
}

.Experience
{
    height: 80%;
}
/* headlines with lines */
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

header img
{
    display: block;
    margin: 0 auto;
}
